*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins",sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    height: 100px;
    width: 100%;
    background-color: blue;
}
.content_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.img_1{
    width: 100px;
    height: 100px;
    margin-left: 20px;
}
.img_2 {
    width: 50px;
    height: 50px;
}
.text {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.nav__img {
    display: flex;
    padding: 10px 15px;
    border: 1px solid #ccc;
    align-items: center;
    color: #fff;
    justify-content: space-around;
}
.nav__input {
    position: relative;
    border:1px solid #ccc;
    width: 200px;
    height: 50px;
    margin-right: 20px;
    border-radius:10px;
    background-color: #fff;
}
input {
    outline: none;
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}
 .content__input {
  
    position: relative;
    width: 100%;
    height: 100%;

}
.top_23px{
    top: 24px !important;
}
.search {
        padding: 18px;
        position: absolute;
        right: -20px;
        top: 25px;
        transform: translateY(-50%);
        font-size: 16px;
        color: #000;
        background-color: rgb(90, 90, 233);
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
} 
menu {
    background-color: #0099ff;
    color: #fff;
    height: 59px;
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    align-items: center;
}
.list__item {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 30px;
    padding: 21px 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.list__item:hover {
    color: #ffff33;
    background-color: blue;
}
.list__item:hover .list__child{
    display: block;
}
.list__icon {
    margin-left: 5px;
}
.list__child {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 200px;
    border: 1px solid #ccc;
    height: auto;
    display: none;
    background-color: #fff;
}
.child__item{
    margin: 20px 0;
    font-size: 12px;
    text-align: left;
}
.child__item a{
    color:rgb(125, 125, 216);
    text-transform: capitalize;

}
content {
    flex: 0 0 70%;
}
.content {
    display: flex;
    border: 3px solid blue;
    padding: 4px;
}

.title {
    background-color: #0099ff;
    color: #fff;
    padding: 8px 12px
}

.next {
    display: flex;
    justify-content: space-between;
    padding: 4px 12px;
    border: 1px solid #ccc;
}

.two .mode_one, .mode_two{
    border: 1px solid #ccc;
    padding: 2px 4px;
}

.two .mode_one {
    background-color: #0099ff;
    color: white;
}

.two > * ~ * {
    margin-left: 8px;
}

.product_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product_item {
    width: 33.33%;
    border: 1px solid #ccc;
    text-align: center;
    margin: 8px -12px;
    padding: 12px
}

.product_item .name {
    font-weight: bold;
    padding: 8px 0;
}

.product_item .name:hover {
    color: #009933;
}

.product_item .wait {
    font-weight: bold;
    color: red;
    text-decoration: line-through;
}

.conten__right {
    width: 30%;
}
.top {
    display: flex;
}
.clip {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 10px;
}
.clip iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
.giohang {
    border: 1px solid pink;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font-size: 14px;
}
.giohang__title {
    padding: 10px 20px;
    background-color: pink;
}
.giohangchild {
    flex: 1;
}
.giohang_2{
    margin: 10px;
}
.select {
    margin-bottom: 10px;
}
select {
    width: 150px;
}
.bottom__title{
    width: 100%;
    padding: 5px 20px;
    background-color: blue;
    color: #fff;
    text-transform: uppercase;
}
.form__bottom {
    display: flex;
}
.bottom {
    flex: 0 0 1;
    margin-left: 10px;
}
.cart {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.bottom__right {
    flex: 0 0 2;
}
.giohang_data {
    display: flex;
    align-items: center;
    margin: 10px 10px;
    border-bottom: 1px solid pink;
}
.giohang_data img {
    width: 100px;
    height: 100px;
}